GLPI_API_URL=https://********************************
APP_TOKEN=
USER_TOKEN=
SENHA_GLPI=
LOGIN_GLPI=

EVOLUTION_API_URL=http://<ip-machine>:8080
# EVOLUTION_API_URL=http://evolution_api:8080 # Mudar quando for para o Dockerfile
EVOLUTION_API_KEY=
